.mainbackground {
   min-width:275px; 
   background-color: #205459;
}
    .mainbackground.login{
    min-height:400px; 
    }
    .mainbackground.verificationcode{
        min-height:300px; 
    }
    .mainbackground.forgotpassword{
        min-height:300px;
    }
    .mainbackground.changepassword{
        min-height:340px;
    }
    .mainbackground.termsandconditions{
        min-height:340px;
    }
.maintitle{
    text-align: center; 
    color: white; 
    margin-top: 20px;
}
.mottotext{
    font-size: 15px;
    font-family: Karla;
    color: white;
}
.inputtext{
    font-family: Josefin Sans; 
    border-radius: 5px; 
    border: 1px solid #8492a6; 
    padding: 2px; 
    width: 200px; 
    height: 30px; 
    background-color: #c8cec8; 
    font-size: small;
}
.btnsubmit{
    font-family: Droid Sans Mono; 
    border-radius: 5px; 
    border: 1px solid #8492a6; 
    width: 200px; 
    height: 25px; 
    background-color: #97c94d; 
    color: #fbfdff; 
    font-size: 13px;
}
.text{
    font-family: Poppins;
    color: #bec2c7; 
}
    .text.hyperlink{
        font-size:11px;
        text-decoration: underline;
    }
    .text.normal{
        font-size:13.5px;
        text-align: center;
    }
    .text.termsandconditions{
        font-size:15px;
        text-align: center;
        text-decoration: underline;
    }
    .text.terms{
        font-size:12px;
        text-align: center;
    }
.signup{
    font-family: Droid Sans Mono; 
    color: #97c94d;
    font-size:18px;
}
.textor{
    font-size: 20px; 
    background-color: #205459; 
    padding: 0 10px; 
    font-family: Droid Sans Mono; 
    color: #fbfdff;
}