<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Droid Sans Mono' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div class="container mainbackground changepassword">
        <div class="row">
            <div class="col-sm-12">
                 <h6 class="maintitle"><span><img src="/icons/icon16.png"/></span><i>adoptionlead</i></h6>
            </div>
            <div class="row" style="padding-top: 30px; padding-left:25px;">
                <div class="col-sm-12">
                    <p class="text normal">Please enter your new credentials</p>
               </div>
            </div>
            <div class="row" style="padding-top: 25px; padding-left: 39px;">
                <form>
                    <div class="col-sm-12" style="padding-top: 8px;">
                        <input aria-label="Old Password" aria-required="true" autocapitalize="off" autocorrect="off" name="old password" type="text" value="Old Password" class="inputtext">
                    </div>
                    <div class="col-sm-12" style="padding-top: 8px;">
                        <input aria-label="New Password" aria-required="true" autocapitalize="off" autocorrect="off" name="new password" type="text" value="New Password" class="inputtext">
                    </div>
                    <div class="col-sm-12" style="padding-top: 8px;">
                        <input aria-label="Confirm Password" aria-required="true" autocapitalize="off" autocorrect="off" name="confirm password" type="text" value="Confirm Password" class="inputtext">
                    </div>
                    <div class="col-sm-12" style="padding-top: 15px;">
                        <input type="submit" value="Submit" class="btnsubmit">
                    </div> 
                </form>
            </div>
        </div>
    </div>
</body>

</html>
