<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Droid Sans Mono' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container" style="min-width:275px; min-height:400px; background-color: #205459;">
        <div class="row">
            <div class="col-sm-12">
                 <h6 style="text-align: center; color: white; margin-top: 20px;"><span><img src="/icons/icon16.png"/></span><i>adoptionlead</i></h6>
            </div>
            <div class="row" style="padding-top: 20px; padding-left: 37px;">
                <div class="col-sm-12">
                     <p><font color="white"><span style="font-size: 15px; font-family: Karla;">Software Adoption, Simplified</span></font></p>
                </div>
            </div>
            <div class="row" style="padding-top: 20px; padding-left: 39px;">
                <form>
                    <div class="col-sm-12">
                        <input aria-label="Username or email" aria-required="true" autocapitalize="off" autocorrect="off" name="username" type="text" value="Username or email" style="font-family: Josefin Sans; border-radius: 5px; border: 1px solid #8492a6; padding: 2px; width: 200px; height: 30px; background-color: #c8cec8; font-size: small;">
                    </div>
                    <div class="col-sm-12" style="padding-top: 8px;">
                        <input aria-label="Username or email" aria-required="true" autocapitalize="off" autocorrect="off" name="username" type="text" value="Password" style="font-family: Josefin Sans; border-radius: 5px; border: 1px solid #8492a6; padding: 2px; width: 200px; height: 30px; background-color: #c8cec8; font-size: small;">
                    </div>
                    <div class="col-sm-12" style="padding-top: 15px;">
                        <input type="submit" value="Login" style="font-family: Droid Sans Mono; border-radius: 5px; border: 1px solid #8492a6; width: 200px; height: 25px; background-color: #22a0e3; color: #fbfdff; font-size: 13px;">
                    </div> 
                </form>
                <div class="col-sm-12" style="padding-top: 10px; padding-left: 65px;">
                    <a href="#" style="font-family: Josefin Sans; color: #bec2c7; font-size:13px">Forgot password?</a>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
</body>

</html>
