<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-12">
                <div class="pricebackground">
                    <h6>adoptionlead</h6>
                    <div class="row ml-1 mr-1">
                        <div class="col-sm-12 mt-3">
                            <a href="#">
                                <p style="background-color: #22a0e3;border-radius:5px; "><font color="white"><span style="font-size: 10px;">Login</span><br></font></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
