<!DOCTYPE html>
<html>

<head>
    <title>Maintenance</title>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Droid Sans Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div class="container mainbackground maintenance">
        <div class="row">
            <div class="col-sm-12">
                 <h6 class="maintitle"><span><img src="/icons/icon16.png"/></span><i>adoptionlead</i></h6>
            </div>
            <div class="row" style="padding-top: 30px;">
                <div class="col-sm-12">
                    <div class="container">
                        <p class="text maintenanceheading">We'll Be Right Back</p> <br><br>
                        <p class="text normal">Sorry, we are down for maintenance but will be back in no time!</p>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 35px; padding-left: 10px;">
                <div class="col-sm-12">
                    <a href="login.html" class="text hyperlink"> Go Back</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
