<!DOCTYPE html>
<html>

<head>
    <title>Terms and Contitions</title>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Droid Sans Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div class="container mainbackground termsandconditions">
        <div class="row">
            <div class="col-sm-12">
                 <h6 class="maintitle"><span><img src="/icons/icon16.png"/></span><i>adoptionlead</i></h6>
            </div>
            <div class="row" style="padding-top: 30px; padding-left: 25px;">
                <div class="col-sm-12">
                    <div class="container">
                        <p class="text termsandconditions">Terms and Conditions</p>
                    </div>
                        <form action="" style="padding-top: 15px;">
                            <input type="checkbox" id="terms1" name="terms1" value="terms1">
                            <label for="terms1" class="text terms"> Terms and Contitions 1</label><br>
                            <input type="checkbox" id="terms2" name="terms2" value="terms2">
                            <label for="terms2" class="text terms"> Terms and Contitions 2</label><br>
                            <input type="checkbox" id="terms3" name="terms3" value="terms3">
                            <label for="terms3" class="text terms"> Terms and Contitions 3</label><br>
                            <input type="checkbox" id="acceptall" name="acceptall" value="acceptall">
                            <label for="acceptall" class="text terms"> Accept all</label><br><br>
                            <div class="col-sm-12" style="padding-top: 10px;">
                                <input type="submit" value="Submit" class="btnsubmit">
                            </div> 
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
