<!DOCTYPE html>
<html>

<head>
    <title>Verification</title>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Droid Sans Mono' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <div class="container mainbackground verificationcode">
        <div class="row">
            <div class="col-sm-12">
                 <h6 class="maintitle"><span><img src="/icons/icon16.png"/></span><i>adoptionlead</i></h6>
            </div>
            <div class="row" style="padding-top: 30px; padding-left: 10px;">
                <div class="col-sm-12" style="text-align: center;">
                     <p class="text normal">Please enter the verification code sent to your email.</p>
                </div>
                <div class="col-sm-12" style="padding-top: 10px; text-align: center; text-decoration: underline;">
                    <a href="#" class="text hyperlink">Resend verification code</a>
                </div>
            </div>
            <div class="row" style="padding-top: 25px; padding-left: 39px;">
                <form>
                    <div class="col-sm-12">
                        <input aria-label="Verification code" aria-required="true" autocapitalize="off" autocorrect="off" name="verification code" type="text" value="Verification code" class="inputtext">
                    </div>
                    <div class="col-sm-12" style="padding-top: 10px;">
                        <input type="submit" value="Submit" class="btnsubmit">
                    </div> 
                </form>
            </div>
        </div>
    </div>
</body>

</html>
